/* CSS HEX */
/* --prussian-blue: #04395eff;
--iris: #474acaff;
--celestial-blue: #0d98ccff;
--cornflower-blue: #6f9bf6ff;
--powder-blue: #adcef6ff; */
/* rgba(255, 255, 255, 0.87); */

:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  /* font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%; */

  --prussian-blue: #04395eff;
  --powder-blue: #adcef6ff;
  --iris: #474acaff;
  --celestial-blue: #0d98ccff;
  --cornflower-blue: #6f9bf6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.navbar {
  background-color: var(--powder-blue);
}

body {
  background-color: var(--prussian-blue);
}

.portfolio-app {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  width: 800px;
  min-height: 600px;
  background: black;
  text-align: center;
  margin: 32px auto;
  border-radius: 20px;
  padding-bottom: 32px;
}

p {
  color: var(--cornflower-blue)
}

h1 {
  margin: 32px 0;
  color: rgb(66, 171, 231);
  font-size: 24px;
  font-size: 3.2em;
  line-height: 1.1;
}

h2 {
  color: rgb(66, 171, 231);
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 40px;
}

.about-img {
  height: 300px;
  align-self: left;
}

.about-p {
  display: flexbox;
  text-align: right;
  flex-direction: row;
  font-size: 25px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.contact-form {
  margin-bottom: 32px;
  margin: 20px;
}

.contact-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  background: transparent;
  color: #fff;
  display: block;
  margin-top: 5px;
  margin-bottom: 5px;
  width: 100%;
}

.contact-input::placeholder {
  color: #e2e2e2;
}

.contact-button {
  padding: 16px;
  border: none;
  border-radius: 2px;
  cursor: pointer;
  outline: none;
  background: #5d0cff;
  color: #fff;
  text-transform: capitalize;
}

.contact-input.edit {
  border: 2px solid #149fff;
}

.contact-button.edit {
  background: linear-gradient(
    90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%
  );
  padding: 16px 22px;
}

.contact-container {
  display: flex;
  flex-direction: row;
  position: relative;
}

.contact-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 4px auto;
  color: #fff;
  padding: 16px;
  border-radius: 5px;
  width: 90%;
}

.icons {
  display: flex;
  align-items: center;
  font-size: 24px;
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--celestial-blue);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}
