/* Start of CSS file */
/* Contains styling for App.jsx/main.jsx */

/* Root + Wildcard as baseline */
:root {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
  'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: black;

  -webkit-text-size-adjust: 100%;

  --prussian-blue: #04395eff;
  --powder-blue: #adcef6ff;
  --iris: #474acaff;
  --celestial-blue: #0d98ccff;
  --cornflower-blue: #6f9bf6ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Base values: body, p, h1-h5 */
body {
  display: block;
  background-color: var(--prussian-blue);
}

p {
  color: var(--cornflower-blue);
  text-shadow: 2px 2px 5px var(--iris);
}

h1 {
  margin: 32px 0;
  color: rgb(66, 171, 231);
  font-size: 24px;
  font-size: 3.2em;
  line-height: 1.1;
  text-shadow: 2px 2px 5px black;
}

h2 {
  color: rgb(66, 171, 231);
  text-align: center;
  text-shadow: 2px 2px 5px black;
}

h3 {
  margin: auto;
  color: rgb(66, 171, 231);
  font-size: 40px;
  text-shadow: 2px 2px 5px black;
}

li {
  font-size: 20px;
  list-style: circle;
  text-align: center;
  color: var(--cornflower-blue);
  text-shadow: 2px 2px 5px black;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

/* AboutPage */
.about-title {
  margin-bottom: 5px;
}
.about-img {
  display: inline-block;
  height: 400px;
  align-self: left;
  padding: 15px;
  margin-bottom: 10%;
}

.about-p {
  table-layout: column;
  font-size: 25px;
  text-shadow: 2px 2px 5px black;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
  padding-left: 50px;
}

/* PorfolioCards */
.card-title {
  color: var(--iris);
  text-shadow: 2px 2px 5px var(--powder-blue);
  font-size: 30px;
  text-align: center;
}

.card {
  filter: brightness(50%);
}

.deployIMG {
  filter: grayscale();
  padding-inline-start: 30%;
}

.githubIMG {
  align-self: center;
  padding-inline-start: 10%;
}

.card:hover {
  filter: none;
}

.deployIMG:hover {
  filter: none;
}

.githubIMG:hover {
  filter: invert();
}

/* ContactForm */
.error-text {
  color: white;
}

.email-input, .name-input, .message-input {
  padding: 14px 32px 14px 16px;
  border-radius: 4px;
  border: 2px solid #5d0cff;
  outline: none;
  width: 320px;
  font-weight: 300;
  color: var(--cornflower-blue);
}

.contact-button {
  padding: 10px;
  border-radius: 2px;
  cursor: pointer;
  background: #5d0cff;
  color: #fff;
}

.contact-container {
  justify-content: space-between;
  display: flex;
  flex-direction: column;
  position: relative;
}

/* Footer */
footer {
  background-color: var(--celestial-blue);
}

.footerIcons {
  align-items: center;
  padding: 80px 50px;
  cursor: pointer;
}

/* Header */
.navbar {
  background-color: var(--powder-blue);
}

/* ResumePage */
.resume {
  margin-bottom: 5%;
}

.resume-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}
.resume-pdf {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.skills {
  padding-right: 30%;
}

/* Navigation */
.nav-link {
  color: var(--cornflower-blue);
  font-weight: 500;
  font-size: 20px;
  text-shadow: 2px 2px 5px white;
}

/* Project */
.project-title {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

/* ResumePage, ContactPage, PortfolioPage tbd values */

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: var(--celestial-blue);
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: var(--iris);
  }
}

/* Media queries for size adjustments */
@media screen and (max-width: 992px) {
  main, .navbar, header, h2 {
  flex-basis: 40%;
  flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  main, .navbar, header, h2 {
    flex-basis: 100%;
    margin: 1em 0;
    flex-direction: column;
  }
}
